@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

li {
  list-style: none;
}

.text-additional {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.main-container {
  flex-grow: 1;
}

.logo-main-link {
  display: block;
  margin: -21px 0 0 60px;
}

.header-page {
  width: 1160px;
  height: 186px;
  margin: 40px 140px 0 140px;
  background-color: #FFE17F;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
}

.search-form {
  width: 517px;
  /* border-radius: 50px;
border:#000000 solid 2px; */
}

.header-search {
  width: 355px;
  background-color: #FFE17F;
  border-radius: 50px 0 0 50px;
  border: #000000 solid 2px;
}

.header-search[type="text"]::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-button {
  width: 155px;
  margin-left: -6px;
  font-size: 16px;
  background-color: #FFE17F;
  line-height: 20px;
  background-color: #FFE17F;
  border-radius: 0 50px 50px 0;
  border: #000000 solid 2px;
}

.navigation-user {
  display: flex;
  width: 523px;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-list {
  display: flex;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.navigation-link {
  color: #000000;
  line-height: 21px;
  text-decoration: none;
}

.product-catalog {
  width: 293px;
  margin-right: auto;
  line-height: 21px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.popular-product-box {
  width: 1160px;
  margin: 0 140px 0 140px;
  background: linear-gradient(to bottom, #FFE17F 22%, #FFFFFF 22% 78%);
}

.slider-container {
  display: flex;
}

.image-container {
  margin-top: -164px;
}

.content-container {
  margin-top: -94px;
}

.slider-list {
  margin: 0px;
}

.slider-item-number {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  padding: 49px;
  margin: 0;
  margin-left: 761px;
  line-height: 30px;
  color: #FFFFFF;
}

.slider-item-slogan {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-item-discription {
  color: #444444;
}

.slider-link-container {
  width: 220px;
  height: 40px;
  text-align: center;
  /* background:linear-gradient(to bottom, #F0F0F0 40%, #FFE17F 40% 60%, #F0F0F0 60%);; */
}

.slider-yellow-background {
  margin-bottom: -19px;
  width: 220px;
  height: 8px;
  background-color: #FFE17F;
}

.link-styles {
  width: 220px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;

}

.slider-item-link {
  text-decoration: none;
}

.slider-product-table {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.first-row {
  font-size: 36px;
}

.second-row {
  font-size: 16px;
  color: #444444;
}

.category-list {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  padding: 0;
  margin: 0 140px 0 140px;
}

.category-list {
  line-height: 24px;
  letter-spacing: -0.35px;
}

.category-item {
  width: 160px;
}

.category-link {
  color: #000000;
  text-decoration: none;
}

.category-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
}

.category-item:nth-child(2) .category-box {
  align-items: flex-end;
}

.advantages-name-title {
  font-size: 50px;
  line-height: 50px;
}

.advantages-name-content {
  color: #444444;
}

.advantages-background {
  width: 100%;
  height: 391px;
  background: linear-gradient(to bottom, #FFFFFF 26%, #F0F0F0 26% 74%);
}

.advantages {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 140px 72px 140px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  border-right: #000000 solid 7px;
}

.button-styles {
  width: 160px;
  height: 40px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background: linear-gradient(to bottom, #F0F0F0 40%, #FFE17F 40% 60%, #F0F0F0 60%);
}

.advantages-discription {
  width: 694px;
  margin: 0 auto;
  padding: 45px;
  background-image: url("../images/advantages-delivery.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 136px 164px;
}

.advantages-name-content {
  display: block;
}

.rare-delivery-box {
  width: 1160px;
  height: 100px;
  margin: 70px 140px;
  background-color: #F0F0F0;
}

.rare-delivery {
  display: flex;
}

.rare-delivery-image-box {
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
  background-image: url('../images/rare-delivery.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.rare-delivery-title {
  display: block;
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

.rare-delivery-information {
  width: 125px;
}

.about-us-contacts-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 140px 70px 140px;
}

.about-us-container {
  width: 520px;
}

.contacts-container {
  width: 532px;
  margin-left: auto;
}

.about-us-title {
  font-size: 50px;
  line-height: 50px;
}

.adout-us-description {
  color: #444444;
}

.about-us-delivery {
  color: #444444;
}

.about-us-list {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.about-us-item-link {
  color: #000000;
  text-decoration: none;
}

.about-us-link-container {
  width: 270px;
  height: 40px;
  text-align: center;
  /* background:linear-gradient(to bottom, #F0F0F0 40%, #FFE17F 40% 60%, #F0F0F0 60%);; */
}

.about-us-yellow-background {
  margin-bottom: -19px;
  width: 270px;
  height: 8px;
  background-color: #FFE17F;
}

.about-us-link {
  line-height: 21px;
  letter-spacing: 3.5px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-title {
  font-size: 50px;
  line-height: 50px;
}

.contacts-description {
  color: #444444;
}

.contacts-subtitle {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #444444;
  line-height: 30px;
}

.contacts-address {
  color: #444444;
}

.contacts-phone {
  color: #444444;
}

.contacts-schedule-list {
  color: #444444;
}

.contacts-link-container {
  width: 259px;
  height: 40px;
  text-align: center;
  /* background:linear-gradient(to bottom, #F0F0F0 40%, #FFE17F 40% 60%, #F0F0F0 60%);; */
}

.contacts-yellow-background {
  margin-bottom: -19px;
  width: 259px;
  height: 8px;
  background-color: #FFE17F;
}

.contacts-link {
  text-decoration: none;
}

.subscription {
  width: 100%;
  background-color: #F0F0F0;
}

.subscription-box {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
  padding:60px 140px;
  box-sizing: border-box;
}

.subscription-text {
  display: flex;
  justify-content: space-between;

}

.subscription-form {
  display: flex;
  justify-content: space-between;
}

.subscription-title {
  font-size: 50px;
  line-height: 50px;
}

.subscription-description {
  color: #444444;
}

.subscription-field {
  width: 557px;
  background-color: #F0F0F0;
  border: none;
  border-bottom: #C4C4C4 solid 3px;
}

.subscription-field[type="email"]::placeholder {
  font-size: 18px;
  color: #444444;
  opacity: 0.5;
  line-height: 30px;
  padding: 11px 447px 14px 16px;
}

.subscription-free {

  font-size: 18px;
  color: #444444;
}

.subscription-button[type="submit"] {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.subscription-free-box {
  width: 160px;
  margin-left: auto;
}

.footer-page {
  width:100%;
  background-color: #444444;
}

.footer-container {
  display: flex;
  width: 1440px;
  margin:0 auto;
  padding:62px 140px;
  box-sizing: border-box;
}

.logo-address-container {
  width: 239px;
}

.navigation-social-container {
  display: flex;
  flex-direction: column;
  width: 444px;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contacts-footer {
  display: flex;
  flex-direction: column;
}

.footer-address {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.contacts-footer-phone {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-navigation-list {
  display: flex;
}

.footer-navigation-link {
  line-height: 21px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.social-network-list {
  display: flex;
}


/* CATALOG.HTML */
.catalog-header-container {
  width: 1079px;
  margin: 35px 161px 35px 200px;
}

.catalog-header-title {
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs {
  display: flex;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
}

.products-filtering-box {
  background-color: #F0F0F0;
}

.product-block {
  display: flex;
  width: 1160px;
  margin: 0 140px;
}

.product-filter {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.filter-container {
  width: 320px;
}

.filter-range {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.filter-checkbox {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.filter-radiobutton {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
}

.filter-checkbox-list {
  font-size: 16px;
  line-height: 19px;
}

.filter-radiobutton-list {
  font-size: 16px;
  line-height: 19px;
}

.product-list-load-more-pagination {
  height:100%;
  width: 840px;
  background-color: #FFFFFF;
}

.sorting {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.product-card {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.product-card-link {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.35px;
  color: #000000;
  text-decoration: none;
}

.load-more-button {
  width: 748px;
  margin: 0 40px;
  padding: 18px 249px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 3px solid #F0F0F0;
}

.pagination-list {
  display: flex;
  margin: 44px 40px 78px 40px;
  padding: 25px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

.pagination-link {
  color: #000000;
  text-decoration: none;
}

.pagination-name {
  padding: 11px;
}

.pagination-number {
  margin: 0 auto;
  padding: 11px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #444444;
  opacity: 0.3;
}
