@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-width: 1440px;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgb(68, 68, 68);
  background-color: rgb(255, 255, 255);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.logo-main-link {
  display: block;
  width: 145px;
  height: 36px;
  margin: -21px 0 30px 60px;
}

.logo-main-link:hover,
.footer-logo-link:hover {
  opacity: 0.6;
}

.logo-main-link:focus,
.footer-logo-link:focus {
  outline: rgb(175, 79, 255) solid 2px;
}

.logo-main-link:active,
.footer-logo-link:active {
  opacity: 0.3;
}

.header-page {
  width: 1160px;
  margin: 40px 140px 0;
  background-color: rgb(255, 225, 127);
}

.header-container {
  display: flex;
  flex-direction: column;
  margin: 0 60px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.search-nav-wrapper {
  margin-bottom: 28px;
}

.search-form {
  display: flex;
  margin-right: 25px;
  border-radius: 50px;
  border: rgb(0, 0, 0) solid 2px;
}

.search {
  width: 355px;
  z-index: 1;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(0, 0, 0);
}

.search svg {
  margin: 0 14px;
}

.header-search {
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 225, 127);
  border: none;
}

.header-search::placeholder {
  opacity: 0.3;
}

.header-search:active {
  color: rgb(0, 0, 0);
}

.header-search:focus {
  outline: none;
}

.search:focus-within {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 4px;
}

.header-search:disabled {
  opacity: 0.3;
}

.focus-decorative-button-search:focus-within {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 4px;
}

.search-button {
  width: 160px;
  padding: 8px 55px;
  margin: 0;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background: rgb(255, 225, 127);
  line-height: 20px;
  border: none;
  border-left: 1px solid rgb(0, 0, 0);
  border-radius: 0 50px 50px 0;
}

.search-button:hover {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.search-button:focus {
  outline: none;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:disabled {
  opacity: 0.3;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 497px;
  list-style-type: none;
}

.navigation-user-item {
  position: relative;
  margin-right: 15px;
}

.navigation-user-item:nth-child(3n) {
  margin-right: 0;
  margin-left: 15px;
}

.log-out-user {
  opacity: 0.3;
}

.navigation-user-link {
  position: relative;
  display: flex;
  padding-left: 7px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.navigation-user-link:first-child {
  padding-left: 0;
}

.navigation-user-item:first-child {
  display: flex;
  margin-right: auto;
}

.navigation-user-link svg {
  align-self: center;
}

.popover-open {
  display: none;
}

/* STYLES FOR POPOVER */


/* Class for opening popover, it is used for div with class="popover-wrapper" */

.navigation-user-item:focus-within > .popover-open {
  display: block;
}

.navigation-user-link:hover > .popover-open {
  display: block;
}

.navigation-user-link:active > .popover-open {
  display: block;
}

.decorative-element {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -141px;
  width: 320px;
  min-height: 150px;
  background-image: url("../images/popup.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.popover-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  font-style: normal;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  background-color: rgb(0, 0, 0);
}

.content-list {
  margin: 0;
  padding: 0 20px;
  list-style-type: none;
}

.content-item {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.content-item:last-child {
  border: none;
}

.content-item-link {
  display: flex;
  text-decoration: none;
}

.content-item-link:hover {
  opacity: 0.6;
}

.content-item-link:focus {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 2px;
}

.content-item-link:active {
  opacity: 0.3;
}

.content-image {
  display: block;
  margin-right: 23px;
}

.content-text {
  display: block;
  margin: 0;
  color: rgb(255, 255, 255);
}

.content-button {
  cursor: pointer;
  justify-self: end;
  align-self: flex-start;
  padding: 0;
  width: 11px;
  height: 11px;
  border: none;
  background-color: rgb(0, 0, 0);
}

.content-button:hover {
  opacity: 0.6;
}

.content-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.content-button:active {
  opacity: 0.3;
}

.items-amount-label{
  margin-right: 58px;
}

.amount-wrapper-inputs {
  display: flex;
  padding: 13px 20px;
  margin-left: 3px;
  background: rgb(26, 26, 26);
}
.sum-input{
  margin-left: 4px;
}

.popover-input {
  width: 40px;
  padding: 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.popover-input:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.popover-input::-webkit-outer-spin-button,
.popover-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input [type="number"] {
  -moz-appearance: textfield;
}

.basket-link {
  display: block;
  padding: 14px 23px;
  margin: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.basket-link:hover {
  background-color: rgb(255, 225, 127);
}

.basket-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.basket-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket-link:disabled {
  color: rgba(255, 255, 255, 0.3);
}


/* END OF STYLES FOR POPOVER */


.navigation-user-text {
  padding-left: 12px;
}

.navigation-user-amount-products {
  position: absolute;
  left: -15px;
  bottom: 4px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  width: 21px;
  height: 21px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:focus {
  outline: rgb(175, 79, 255) solid 2px;
}

.navigation-user-link:active {
  opacity: 0.1;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 470px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  list-style-type: none;
}

.navigation-link {
  color: rgb(0, 0, 0);
  line-height: 21px;
  text-decoration: none;
}

.navigation-link:hover {
  opacity: 0.6;
}

.navigation-link:active {
  opacity: 0.1;
}

.navigation-link:focus {
  outline: rgb(175, 79, 255) solid 2px;
}

.product-catalog-link {
  position: relative;
  z-index: 3;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  align-items: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product-catalog-link:hover .catalog-opener,
.catalog-opener::after,
.catalog-opener::before {
  opacity: 1;
}

.product-catalog-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.product-catalog-text {
  display: block;
  margin-right: 18px;
}

.catalog-opener {
  position: relative;
  margin-top: -7px;
  width: 48px;
  height: 48px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.3;
}

.catalog-opener::after,
.catalog-opener::before {
  position: absolute;
  content: "";
  left: 48%;
  right: 0%;
  top: 30%;
  bottom: 0%;
  width: 2px;
  height: 16px;
  background-color: rgb(0, 0, 0);
  opacity: 0.3;
}

.catalog-opener::after {
  transform: rotate(90deg);
}

.product-catalog-link:hover .catalog-opener::before {
  transform: rotate(90deg);
}

.product-catalog-link:active .catalog-opener::before {
  transform: rotate(90deg);
}
/* Styles for subcatalog */

.subcatalog {
  display: none;
  position: absolute;
  z-index: 2;
  left: -61px;
  top: 35px;
  margin: 0;
  padding: 33px 0 27px 60px;
  width: 1160px;
  min-height: 180px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  list-style-type: none;
  background: rgb(255, 225, 127);
}

.catalog-wrapper:focus-within > .subcatalog {
  display: flex;
}

.catalog-wrapper:hover > .subcatalog {
  display: flex;
}

.catalog-wrapper:active > .subcatalog {
  display: flex;
}

.catalog-wrapper {
  position: relative;
}

.subcatalog-item {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.subcatalog-item:nth-child(2){
  margin-right: 70px;
}

.subcatalog-link {
  display: block;
  margin-bottom: 17px;
  min-width: 90px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.subcatalog-link:hover {
  opacity: 0.6;
}

.subcatalog-link:active {
  opacity: 0.3;
}

.subcatalog-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.subcatalog-link .subcatalog-link-disabled {
  border: none;
}

/* End of styles for subcatalog */


.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.popular-product-slider {
  position: relative;
  width: 1160px;
  margin: 0 140px 70px 140px;
  background: linear-gradient(to bottom, rgb(255, 225, 127) 22%, rgb(255, 255, 255) 22% 78%);
}

.popular-product-first-slider {
  display: block;
}

.popular-product-second-slider {
  display: none;
}

.popular-product-thierd-slider {
  display: none;
}

.slider-container {
  display: flex;
  justify-content: space-between;
  margin-top: -35px;
}

.image-container {
  display: grid;
  grid-template-rows: 271px 289px;
  grid-template-columns: 560px;
  margin-right: 36px;
}

.slider-button-wrapper {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-self: end;
  justify-self: end;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 530px;
  margin-left: 30px;
}

.slider-button {
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.slider-button:active {
  opacity: 0.3;
}

.slider-item-image {
  grid-row: 1/-1;
  grid-column: 1/-1;
  margin-right: -15px;
}

.content-container {
  position: relative;
  margin-top: 60px;
}

.content-container-first-item::before {
  position: absolute;
  content: "01";
  font-weight: 700;
  font-size: 180px;
  color: rgb(255, 255, 255);
  right: 49px;
  top: 20px;
}

.content-container-second-item::before {
  position: absolute;
  content: "02";
  font-weight: 700;
  font-size: 180px;
  color: rgb(255, 255, 255);
  right: 51px;
  top: 16px;
}

.content-container-thierd-item::before {
  position: absolute;
  content: "03";
  font-weight: 700;
  font-size: 180px;
  color: rgb(255, 255, 255);
  right: 49px;
  top: 20px;
}


.slider-list {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-left: 3px;
  margin-bottom: 50px;
  padding: 0;
  list-style-type: none;
}

.slider-item-slogan {
  margin: 0;
  margin-top: 62px;
  margin-bottom: 29px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.slider-item-discription {
  margin: 0;
  padding: 0;
}

.slider-button-container {
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin-left: 3px;
  margin-bottom: 45px;
}

.slider-pagination-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slider-pagination-button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  padding: 0;
  margin-right: 20px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
}

.slider-pagination-button:last-child {
  margin-right: 0;
}

.slider-pagination-button:hover {
  opacity: 0.6;
}

.slider-pagination-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.slider-pagination-button:active {
  opacity: 0.3;
}

.current-button {
  background: rgb(0, 0, 0);
}

.current-button:hover {
  opacity: 0.6;
}

.current-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.current-button:active {
  opacity: 0.3;
}

.link-styles {
  padding: 10px 36px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.slider-item-link {
  position: relative;
  z-index: 1;
  margin-left: 3px;
}

.slider-item-link::before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0;
  top: 39%;
  width: 100%;
  height: 18%;
  background-color: rgb(255, 225, 127);
}

.slider-item-link:hover::before {
  top: 0;
  height: 100%;
}

.slider-item-link:focus {
  outline: none;
}

.slider-item-link:focus::before {
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background: linear-gradient(to bottom, transparent 40%, rgb(255, 225, 127) 40% 60%, transparent 60%);
  outline: 2px solid rgb(175, 79, 255);
}

.slider-item-link:active::before {
  top: 0%;
  height: 100%;
  background-color: rgb(255, 199, 0);
}

.slider-product-table-line {
  padding-right: 18px;
  padding-bottom: 9px;
}

.first-row {
  font-size: 36px;
  color: rgb(0, 0, 0);
}

.second-row {
  font-size: 16px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 1160px;
  padding: 0;
  margin: 0 140px 70px 140px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  list-style-type: none;
}

.category-item {
  width: 160px;
  min-height: 253px;
}

.category-link {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.category-link:hover .category-box {
  background-color: rgb(255, 199, 0);
}

.category-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.category-link:active {
  opacity: 0.3;
}

.category-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: rgb(255, 225, 127);
}

.category-item:nth-child(2) .category-box {
  align-items: flex-end;
}

.category-name {
  margin: 0;
}

.advantages {
  display: flex;
  justify-content: center;
  margin: 0 140px;
  padding-bottom: 72px;
}

.advantages-first {
  display: flex;
}

.advantages-second {
  display: none;
}

.advantages-third {
  display: none;
}

.advantages-background {
  width: 100%;
  margin-bottom: 70px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 26%, rgb(240, 240, 240) 26% 74%);
}

.button-border {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: fit-content;
  border-right: rgb(0, 0, 0) solid 7px;
  box-sizing: border-box;
  padding: 60px 0;
}

.advantages-button {
  cursor: pointer;
}

.advantages-button:nth-child(2n) {
  margin: 35px 0;
}

.advantages-background:last-child {
  margin-bottom: 0;
}

.button-styles {
  cursor: pointer;
  width: fit-content;
  min-width: 160px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  border: none;
  background: linear-gradient(to bottom, transparent 40%, rgb(255, 225, 127) 40% 60%, transparent 60%);
}

.button-styles:hover {
  background: rgb(255, 225, 127);
}

.button-styles:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.button-styles:active {
  background: rgb(255, 199, 0);
}

.button-styles:disabled {
  opacity: 0.3;
}

.advantages-button-current {
  width: 280px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  border: none;
  text-align: left;
  color: rgb(255, 225, 127);
  background: rgb(0, 0, 0);
}

.advantages-button-current:hover {
  color: rgba(255, 225, 127, 0.5);
}

.advantages-button-current:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.advantages-button-current:active {
  color: rgba(255, 225, 127, 0.3);
}

.advantages-discription-first {
  width: 694px;
  padding: 72px 63px 72px 116px;
  background-image: url("../images/advantages-delivery.svg");
  background-repeat: no-repeat;
  background-position: 91% 50%;
}

.advantages-discription-second {
  width: 694px;
  padding: 72px 63px 72px 116px;
  background-image: url("../images/advantages-guarantee.svg");
  background-repeat: no-repeat;
  background-position: 96% 33%;
}

.advantages-discription-third {
  width: 694px;
  padding: 72px 63px 72px 116px;
  background-image: url("../images/advantages-credit.svg");
  background-repeat: no-repeat;
  background-position: 96% 33%;
}

.advantages-name-content {
  display: block;
}

.advantages-name-title {
  display: block;
  margin-bottom: 34px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.rare-delivery {
  display: block;
  width: 1160px;
  margin: 0 140px 70px 140px;
  padding: 0;
}

.rare-delivery-link {
  display: flex;
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: rgb(240, 240, 240);
}

.rare-delivery-link:hover .rare-delivery-image-box {
  background-color: rgb(255, 199, 0);
}

.rare-delivery-link:hover .rare-delivery-information g {
  opacity: 1;
}

.rare-delivery-link:focus {
  outline: rgb(175, 79, 255) solid 2px;
  box-sizing: border-box;
}

.rare-delivery-link:active {
  opacity: 0.3;
}

.rare-delivery-image-box {
  width: 125px;
  background-color: rgb(255, 225, 127);
  background-image: url("../images/rare-delivery.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.rare-delivery-title {
  display: block;
  margin: 0 156px;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.rare-delivery-information {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(220, 220, 220, 0.5);
}

.about-us-contacts-container {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 44px 140px 74px 140px;
}

.about-us {
  width: 520px;
  margin-right: 102px;
}

.decorative-element-black {
  width: 84px;
  height: 7px;
  margin-bottom: 40px;
  background-color: rgb(0, 0, 0);
}

.contacts {
  width: 532px;
  margin-left: auto;
}

.about-us-title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.about-us-title::before {
  position: absolute;
  content: "";
  bottom: 88px;
  left: 1px;
  width: 84px;
  height: 7px;
  background-color: rgb(0, 0, 0);
}

.adout-us-description {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-us-delivery {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.about-us-list {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.about-us-item {
  margin-bottom: 19px;
}

.about-us-item-link {
  position: relative;
  display: block;
  padding-left: 37px;
  width: fit-content;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.about-us-item-link::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  bottom: 5px;
  left: 4px;
  border-radius: 50%;
  background-color: rgb(255, 199, 0);
}

.about-us-item-link:hover {
  opacity: 0.6;
}

.about-us-item-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.about-us-item-link:active {
  opacity: 0.3;
}

.about-us-link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding: 10px 23px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

.about-us-link::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 18%;
  top: 39%;
  left: 0;
  background: rgb(255, 225, 127);
}

.about-us-link:hover::before {
  top: 0%;
  height: 100%;
}

.about-us-link:focus {
  outline: none;
}

.about-us-link:focus::before {
  top: 0%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 40%, rgb(255, 225, 127) 40% 60%, transparent 60%);
  outline: 2px solid rgb(175, 79, 255);
}

.about-us-link:active::before {
  top: 0%;
  height: 100%;
  background-color: rgb(255, 199, 0);
}

.contacts-title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.contacts-title::before {
  position: absolute;
  content: "";
  bottom: 88px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: rgb(0, 0, 0);
}

.contacts-description {
  display: block;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts-subtitle {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
}

.contacts-adress {
  margin-bottom: 30px;
}

.contacts-adress-text {
  display: block;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  display: block;
  margin: 0;
  padding: 0;
  width: fit-content;
  color: rgba(68, 68, 68);
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-schedule-list {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style-type: none;
}

.contacts-schedule-item p {
  margin: 0;
  padding: 0;
}

.contacts-link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  margin-left: -2px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-link::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 100%;
  height: 18%;
  top: 40%;
  left: 0;
  background: rgb(255, 225, 127);
}

.contacts-link:hover::before {
  top: 0%;
  height: 100%;
}

.contacts-link:focus {
  outline: none;
}

.contacts-link:focus::before {
  top: 0%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 40%, rgb(255, 225, 127) 40% 60%, transparent 60%);
  outline: 2px solid rgb(175, 79, 255);
}

.contacts-link:active::before {
  top: 0%;
  height: 40px;
  background-color: rgb(255, 199, 0);
}

.subscription {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.subscription-box {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding: 57px 140px;
}

.subscription-text {
  display: flex;
  margin-top: 5px;
  margin-bottom: 140px;
}

.subscription-title {
  display: block;
  margin: 0;
  margin-right: 259px;
  padding: 0;
  padding-left: 5px;
  width: 340px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.subscription-description {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  width: 560px;
  min-height: 90px;
}

.subscription-container {
  display: flex;
  justify-content: space-between;
}

.subscription-form {
  display: flex;
  align-items: flex-end;
  margin-right: 189px;
  width: 810px;
}

.e-mail {
  flex-grow: 1;
  margin: 0;
}

.subscription-field {
  padding: 16px;
  margin: 0;
  width: 543px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-bottom: rgb(196, 196, 196) solid 3px;
}

.subscription-field::placeholder {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  opacity: 0.5;
  padding: 11px 447px 11px 0;
}

.subscription-field:active {
  color: rgb(0, 0, 0);
}

.subscription-field:focus {
  color: rgba(0, 0, 0, 0.5);
  background: rgb(220, 220, 220);
  outline: none;
}

.subscription-field:invalid {
  border-bottom: 3px solid rgb(255, 61, 61);
}

.subscription-field:disabled {
  opacity: 0.3;
}

.subscription-button {
  padding: 16px 35px;
  width: 253px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background: rgb(240, 240, 240);
  border: 3px solid rgb(196, 196, 196);
  box-sizing: border-box;
}

.subscription-button[type="submit"] {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.subscription-button:hover {
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
}

.subscription-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscription-free-box {
  width: 160px;
}

.subscription-free {
  margin: 0;
  margin-top: 16px;
  padding-left: 31px;
  background-image: url("../images/mark-check.svg");
  background-repeat: no-repeat;
  background-position: -1% 54%;
}

.footer-page {
  width: 100%;
  background-color: rgba(68, 68, 68);
}

.footer-container {
  display: grid;
  grid-template-columns: 239px auto 175px;
  grid-template-rows: 36px min-content 40px;
  width: 1160px;
  margin: 0 auto;
  padding: 62px 140px;
}

.footer-logo-link {
  grid-row: 1/2;
  grid-column: 1/2;
  display: block;
  width: 145px;
  height: 36px;
}

.footer-address {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0;
  margin: 0;
  margin-top: 33px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
}

.decoration-footer {
  grid-row: 3/4;
  grid-column: 1/2;
  width: 80px;
  height: 7px;
  margin-top: 20px;
  background-color: rgb(255, 199, 0);
}

.footer-navigation {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  margin-left: 82px;
  margin-bottom: 20px;
}

.footer-navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 33px 0;
  padding: 0;
  list-style-type: none;
}

.footer-navigation-item {
  margin-right: 35px;
}

.footer-navigation-item:nth-child(3n) {
  margin-right: 0;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.footer-navigation-link:hover {
  color: rgb(255, 225, 127);
  border-bottom: rgb(255, 225, 127) solid 2px;
}

.footer-navigation-link:focus {
  color: rgb(240, 240, 240);
  outline: rgb(175, 79, 255) solid 2px;
}

.footer-navigation-link:active {
  color: rgb(255, 199, 0);
  opacity: 0.3;
}

.social-network {
  grid-column: 2/3;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
  margin-left: -69px;
  margin-bottom: -4px;
}

.social-network-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-network-item {
  margin-right: 15px;
}

.social-network-item:nth-child(3n) {
  margin-right: 0;
}

.social-network-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.social-network-link:hover {
  background: rgb(255, 199, 0);
}

.social-network-link:focus{
  outline: none;
}

.social-network-item:focus-within {
  outline: 2px solid rgb(175, 79, 255);
}

.social-network-link:active svg {
  opacity: 0.3;
}

.social-network-link:active {
  background: rgb(255, 199, 0);
}

.contacts-footer-phone {
  grid-column: 3/4;
  grid-row: 2/3;
  margin-top: -18px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  align-self: center;
}

.contacts-footer-phone:hover {
  color: rgb(255, 199, 0);
}

.contacts-footer-phone:focus {
  color: rgb(240, 240, 240);
  outline: rgb(175, 79, 255) solid 2px;
}

.contacts-footer-phone:active {
  color: rgb(255, 199, 0);
}

.html-link {
  grid-column: 3/4;
  grid-row: 3/4;
  margin-top: 5px;
  justify-self: end;
}

.html-link:hover path {
  fill: rgb(255, 255, 255);
}

.html-link:focus {
  outline: rgb(175, 79, 255) solid 2px;
}

.html-link:active path {
  fill: rgb(255, 255, 255);
  opacity: 0.3;
}


/* Styles for modal window start */

.logo-main-catalog {
  margin-top: -26px;
}

.modal-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(240, 240, 240, 0.9);
}

/* To close modal window comment out this: */


.modal-container-close {
  display: none;
}

.modal {
  position: absolute;
}

.modal-delivery {
  display: flex;
  flex-direction: column;
  width: 920px;
  padding: 62px 70px;
  background: rgb(255, 255, 255);
  border: 10px solid rgb(0, 0, 0);
  box-sizing: border-box;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  margin-bottom: 42px;
}

.modal-title {
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.modal-button-close {
  cursor: pointer;
  display: block;
  padding: 0;
  margin-top: 11px;
  width: 26px;
  height: 26px;
  border: none;
  background: transparent;
  background-image: url("../images/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.modal-button-close:hover {
  opacity: 0.6;
}

.modal-button-close:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.modal-button-close:active {
  opacity: 0.3;
}

.client-information {
  display: flex;
}

.modal-label {
  margin-bottom: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
}

.delivery-form {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  margin-bottom: 42px;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.modal-input {
  padding: 0;
  height: 60px;
  border: none;
}

.modal-input:hover {
  opacity: 0.6;
}

.modal-input:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.modal-input:active {
  opacity: 0.3;
}

.client-name-input {
  background: rgb(240, 240, 240) url("../images/avatar-modal.svg") no-repeat right 21px center;
}

.client-name-label,
.client-name-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.client-email-label {
  display: block;
}

.client-email-input {
  display: block;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(255, 61, 61);
  background: rgb(240, 240, 240) url("../images/mail.svg") no-repeat right 21px center;
}

.product-name-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: rgb(240, 240, 240);
}

.modal-warning {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgb(255, 61, 61);
}

.modal-input[type="text"],
.modal-input[type="email"] {
  padding: 20px;
  padding-right: 40px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(0, 0, 0);
}

.modal-input[type="text"]::placeholder,
.modal-input[type="email"]::placeholder {
  opacity: 0.3;
}

.client-name-paragraph {
  display: block;
  width: 360px;
  margin-right: 40px;
}

.client-email-paragraph {
  display: block;
  width: 360px;
}

.product-paragraph {
  width: 540px;
  margin-right: 40px;
}

.amount-product-paragraph {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.amount-wrapper {
  display: flex;
  background-color: rgb(240, 240, 240);
}

.modal-button-input {
  cursor: pointer;
  display: block;
  padding: 0;
  width: 58px;
  height: 60px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.button-less {
  margin-right: 3px;
}

.modal-button-input:hover {
  opacity: 0.6;
}

.modal-button-input:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.modal-button-input:active {
  opacity: 0.3;
}

.amount-product-input {
  margin-right: 3px;
  width: 60px;
  height: 60px;
  background: rgb(240, 240, 240);
}

.amount-product-label {
  margin-right: 8px;
}


/* Styles for tooltip start */

.form-label {
  display: flex;
}

.tooltip-button {
  cursor: pointer;
  border: none;
  background-color: rgb(255, 225, 127);
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.tooltip-icon {
  color: #242424;
  display: block;
}

.tooltip-content {
  position: absolute;
  right: 70px;
  bottom: 45px;
  background-image: url("../images/popup.svg");
  background-repeat: no-repeat;
  background-position: top right 40px;
  display: none;
}

.tooltip-button:hover + .tooltip-content,
.tooltip-button:focus + .tooltip-content {
  display: block;
}

.tooltip-text {
  display: block;
  width: 200px;
  padding: 19px 17px;
  margin-top: 6px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Styles for tooltip end */

.amount-product-input[type="number"] {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.modal-input::-webkit-outer-spin-button,
.modal-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.modul-button-submit {
  width: fit-content;
  padding: 10px 30px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgb(255, 225, 127) 40% 60%, rgb(255, 255, 255) 60%);
}


/* Styles for modal window end */


/* CATALOG.HTML */


.catalog-header-container {
  width: 1079px;
  margin: 40px 161px 35px 200px;
}

.catalog-header-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: rgb(0, 0, 0);
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-item {
  padding-right: 20px;
  margin-right: 16px;
  background-image: url("../images/products/breadcrumb.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
  background-image: none;
}

.breadcrumbs-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}


.breadcrumbs-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}


.breadcrumbs-link:active {
  opacity: 0.3;
}


.products-filtering-box {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(240, 240, 240);
}

.product-block {
  display: flex;
  width: 1160px;
  margin: 0 140px;
}

.product-filter {
  margin: 0;
  margin-bottom: 73px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.filter-container {
  width: 320px;
}

.filter {
  margin-top: 24px;
  padding: 0 58px;
}

.range {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border: none;
}

.filter-range {
  position: relative;
  padding: 0;
  margin-bottom: 27px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
}

.filter-range::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background: rgb(0, 0, 0);
  top: -15px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background: rgb(220, 220, 220);
}

.range-bar {
  position: absolute;
  height: 2px;
  background: rgb(0, 0, 0);
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: rgb(235, 235, 235);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.range-toggle:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.range-toggle:active {
  background: rgb(0, 0, 0);
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -9px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: start;
}

.catalog-filter-label {
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
}

.range-input {
  width: 38px;
  padding: 0 2px;
  margin-right: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input:last-child {
  margin-right: 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:focus {
  opacity: 1;
  outline: 2px solid rgb(175, 79, 255);
}


.checkbox {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.filter-checkbox {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
}

.filter-checkbox::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background: rgb(0, 0, 0);
  top: -16px;
}

.filter-checkbox-list {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.filter-checkbox-item {
  margin-bottom: 18px;
}

.filter-checkbox-label {
  position: relative;
  display: flex;
  padding-left: 36px;
  color: rgb(0, 0, 0);
}

.control-mark {
  position: absolute;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 3px;
  box-sizing: border-box;
}

.control-label {
  display: block;
  color: rgb(0, 0, 0);
}

.filter-checkbox-label:hover .control-mark {
  opacity: 0.6;
}

.filter-checkbox-button:focus + .control-mark {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 2px;
}

.filter-checkbox-label:active .control-mark {
  opacity: 0.3;
}

.filter-checkbox-button:disabled + .control-mark {
  opacity: 0.1;
}

.filter-checkbox-button[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/checked-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid rgb(0, 0, 0);
}

.radiobutton {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  border: none;
}

.filter-radiobutton {
  position: relative;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: rgb(0, 0, 0);
}

.filter-radiobutton::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background: rgb(0, 0, 0);
  top: -16px;
}

.filter-radiobutton-list {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  list-style-type: none;
}

.filter-radiobutton-item {
  margin-bottom: 20px;
}

.filter-radiobutton-label {
  position: relative;
  display: flex;
  padding-left: 36px;
}

.radiobutton-mark {
  position: absolute;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-radiobutton-label:hover .radiobutton-mark {
  opacity: 0.6;
}

.filter-radiobutton-button:focus + .radiobutton-mark {
  outline: 2px solid rgb(175, 79, 255);
  outline-offset: 2px;
}

.filter-radiobutton-label:active .radiobutton-mark {
  opacity: 0.3;
}

.filter-radiobutton-button:disabled + .radiobutton-mark {
  opacity: 0.1;
}

.filter-radiobutton-button[type="radio"]:checked + .radiobutton-mark {
  border: 2px solid rgb(0, 0, 0);
  background-image: url("../images/button-mark.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-filter-button {
  width: 220px;
  margin-left: 2px;
}

.product-selection-container {
  width: 840px;
  background-color: rgb(255, 255, 255);
}

.sorting-container {
  display: flex;
  padding: 20px 40px;
  background-color: rgb(240, 240, 240);
}

.sorting-title {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.sorting {
  width: 142px;
  height: 30px;
  padding-right: 2px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgb(0, 0, 0);
  background: transparent;
  border: none;
  appearance: none;
  background-image: url("../images/products/products-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 11px center;
}

.sorting:hover {
  opacity: 0.6;
}

.sorting:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.sorting:active {
  opacity: 0.3;
}

.sorting-button-container {
  display: flex;
  gap: 3px;
}

.sorting-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background: rgb(240, 240, 240);
}

.sorting-link:hover g {
  opacity: 0.3;
}

.sorting-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.sorting-link:active g {
  opacity: 1;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 70px 40px 0;
  list-style-type: none;
}

.product-card {
  position: relative;
  padding: 0;
  margin-right: 40px;
  margin-bottom: 42px;
  line-height: 21px;
  color: rgba(68, 68, 68);
}

.product-card:nth-child(2n) {
  margin-right: 0;
}

.product-card-link {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product-card-more-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.product-card-more-link {
  position: relative;
  display: inline-flex;
  padding: 10px 37px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.product-card-more-link::before {
  position: absolute;
  z-index: -1;
  content: "";
  left: 0%;
  top: 40%;
  width: 100%;
  height: 18%;
  background-color: rgb(255, 225, 127);
}

.product-card:hover .product-card-more-container {
  background-color: rgba(240, 240, 240, 0.8);
  z-index: 3;
}

.product-card:hover .product-text {
  opacity: 0.6;
}

.product-card-more-link:hover::before {
  top: 0%;
  height: 100%;
  background-color: rgb(255, 225, 127);
}

.product-card-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.product-card-more-link:focus{
  outline: none;
}

.product-card-more-link:focus::before {
  top: 0%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 40%, rgb(255, 225, 127) 40% 60%, transparent 60%);
  outline: 2px solid rgb(175, 79, 255);
}

.product-card:active .product-card-more-link::before {
  top: 0%;
  height: 100%;
  background-color: rgb(255, 199, 0);
}

.product-card:active .product-text {
  opacity: 0.3;
}

.product-card-image-container {
  position: relative;
}

.card-new-text {
  position: absolute;
  z-index: 1;
  top: 27px;
  right: 28px;
  width: 56px;
  height: 56px;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.product-card-image {
  display: block;
  margin: 0;
  margin-bottom: 33px;
}

.product-text {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  max-width: 360px;
}

.product-card-title {
  display: block;
  width: 226px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  margin: 0;
  line-height: 21px;
  color: rgba(68, 68, 68);
}

.load-more-button {
  width: 758px;
  margin: 1px 40px;
  padding: 16px 249px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(229, 229, 229);
}

.load-more-button:hover {
  cursor: pointer;
  border: 3px solid rgb(0, 0, 0);
}

.load-more-button:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.load-more-button:active {
  opacity: 0.3;
  border: 3px solid rgb(0, 0, 0);
}

.load-more-button:disabled {
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  min-width: 760px;
  margin: 44px 40px 76px 40px;
  background: rgb(235, 235, 235);
}

.pagination-item {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.pagination-link {
  display: block;
  padding: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.pagination-name {
  display: block;
}

.pagination-link:hover {
  background: rgb(220, 220, 220);
}

.pagination-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.pagination-link:active {
  opacity: 0.3;
}

.pagination-number-list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  list-style-type: none;
}

.pagination-number-link {
  margin: 0 auto;
  padding: 10px 14px;
  color: rgba(68, 68, 68);
  text-decoration: none;
}

.pagination-number {
  opacity: 0.3;
}

.pagination-number-link:hover .pagination-number {
  opacity: 1;
}

.pagination-number-link:focus {
  outline: 2px solid rgb(175, 79, 255);
}

.pagination-number-link:active .pagination-number {
  opacity: 0.1;
}

.pagination-number-link:current {
  opacity: 0.6;
}
